<% include ../partials/boilerplate %>

  <script src="/src/jquery.js"></script>
  <script src="/src/editDeck.js"></script>
  <link rel='stylesheet' type='text/css' href='/css/styles.css'>
  <% if(data[0]) { %>
      <h1>Edit Deck</h1>
<!--   <form method="POST" action="/decks/<%= data[0].deck_id %>?_method=PUT"> -->
      <h4>Deck Name: </h4>
      <input id="deckName" name="deck_name" type="text" value="<%= data[0].deck_name %>" />
      <br>
      <br>
      <table class="noBorder table table-hover table-dark">
        <thead class="thead-dark">
          <tr>
            <th>Card Name</th>
            <th>Number in Deck</th>
          </tr>
        </thread>
      <% deck.forEach(deck => { %>
          <% const cardLink = "/cards/" + deck.card_id %>
          <tr>
          <td><a href=<%=cardLink%> class="preview"><img src=<%=deck.img_url%> class="hide-image" /> <%= deck.name %> </a></td>
          <td><input class="numCards" name="num_in_deck" id="nid<%= deck.card_id %> " type="text" value="<%= deck.num_in_deck %>" /></td>
          </tr>
      <% }) %>
    </table>
      <input type="submit" class="btn-sm btn-primary" id="saveDeck" value="Save Deck" />
<!--    </form> -->
    <% } else {%>
      <br>
      <h2> No cards currently in deck, please add from collection below: </h2>
      <br>
      <br>
      <% } %>


<% include ../partials/footer %>
