<% include ../partials/boilerplate %>


      <h1 id="deckNameSingle"><%= deck[0].deck_name %></h1>
      <a href='/decks/<%=deck[0].deck_id%>/edit'>Edit Deck</a>
        <table class="table table-hover table-dark">
          <thead class="thead-dark">
          <tr>
            <th>Card Name</th>
            <th>Number in Deck</th>
            <th>Colors</th>
            <th>Mana Cost</th>
            <th>Card Type</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Rarity</th>
            <th>Set Code</th>
            <th>Card Text</th>
          </tr>
        </thead>
      <% deck.forEach(deck => { %>

        <% const cardLink = "/cards/" + deck.id %>
        <tr>
          <td><a href=<%= cardLink %> class="preview"><%= deck.name %><img src=<%=deck.img_url%> class="hide-image" /></a></th>
          <td><%=deck.num_in_deck%></td>
          <td><%=deck.colors%></td>
          <td><%=deck.mana_cost%></td>
          <td><%=deck.type%></td>
          <td><%=deck.attack%></td>
          <td><%=deck.defense%></td>
          <td><%=deck.rarity%></td>
          <td><%=deck.set_name%></td>
          <td><%=deck.card_text%></td>
        </tr>
      <% }) %>
        <table>



<% include ../partials/footer %>
