<% include ../partials/boilerplate %>

  <script src="/src/jquery.js"></script>
  <script src="/src/editDeck.js"></script>
  <link rel='stylesheet' type='text/css' href='/css/styles.css'>

<!--   <form method="POST" action="/decks/<%= data[0].deck_id %>?_method=PUT"> -->
      <h4>Deck Name: </h4>
      <input id="deckName" name="deck_name" type="text" value="<%= data[0].deck_name %>" />
      <br>
      <br>
      <br>

      <% deck.forEach(deck => { %>
          <h3 id="deckH3"> <%= deck.name %> </h3>
          <input class="numCards" name="num_in_deck" id="nid<%= deck.card_id %> " type="text" value="<%= deck.num_in_deck %>" />
          <br>
      <% }) %>
      <input type="submit" class="btn-sm btn-primary" id="saveDeck" value="Save Deck" />
<!--    </form> -->


<% include ../partials/footer %>
