<% include ../partials/boilerplate %>

<h1>Deck Collection</h1>
<table class="table table-hover table-dark">
  <thead class="thead-dark">
    <tr>
      <th>Deck Name</th>
      <th>Deck Description</th>
      <th></th>
      <th></th>

    </tr>
    </thead>
    <% decks.forEach(deck => { %>
      <% const deckLink = "/decks/" + deck.id %>
      <tr>
        <td><a href=<%= deckLink %>> <%= deck.deck_name %></a></td>
        <td><%= deck.deck_desc %></td>
        <td><a href="/decks/<%= deck.id %>/edit">Edit Deck
        </a></td>
        <td><form action="/decks/<%= deck.id %>?_method=Delete" method="Post">
          <input type="Submit" class="btn-sm btn-primary" value="Delete"/>
        </form></td>
      </tr>
      <% }) %>
</table>


<% include ../partials/footer %>
